* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100dvw;
  height: 100dvh;
  font-family: 'Karla', sans-serif;
  font-size: $font-size-16;
  display: grid;
  place-items: center;

  @import './page-container';
}
