& .contact-form {
  width: fit-content;
  padding: 3.5rem;
  display: grid;
  gap: 1.5rem;
  background-color: $white;
  border-radius: 10px;
  font-size: 10px;
  @import './form-title';

  @import './user-info';
}
