& .contact-form {
  width: fit-content;
  padding: 3.5rem;
  display: grid;
  gap: 1rem;
  background-color: $white;
  border-radius: 10px;
  font-size: 10px;
  @import './form-title';

  @import './user-info';

  @import './user-email';
  @import './email-input';

  @import './query-type-info';

  @import './message-section';

  @import './consent-section';

  @import './submit-btn';
}
