&__name-input {
  width: 100%;
  padding: 0.4rem;
  border: 1px solid $grey-500;
  border-radius: 5px;
  outline: none;
  caret-color: $grey-500;
  font-size: 0.8rem;
  color: $green-600;

  &:hover {
    cursor: pointer;
  }

  &:focus {
    border: 1px solid $green-600;
  }
}
