&__submit-btn {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: $green-600;
  color: $white;
  font-size: 0.8rem;
  cursor: pointer;
  position: relative;
  transition: background-color 0.5s ease-in-out;

  &:hover {
    background-color: darken($green-600, 10%);
  }
}
