@import './fonts';

$green-200: hsl(148, 38%, 91%); // lighter
$green-600: hsl(169, 82%, 27%); // medium
$red: hsl(0, 66%, 54%);

$white: hsl(0, 0%, 100%);
$grey-500: hsl(186, 15%, 59%); //medium
$grey-900: hsl(187, 24%, 22%); //darker

$font-size-16: 16px; // labels

$font-family-karla: 'Karle', sans-serif;

$font-weight-400: 400;
$font-weight-700: 700;
